.faq {
  padding: 64px 0;
  text-align: center;

  .nav {
    .links {
      padding: 0px 5px 0px 5px;
      font-size: 16px;
      display: inline;
    }
  }
  .bottom {
    margin-top: 32px;;
    font-size: 16px;
    color: #545454;
  }
}
