@import 'styles/colors.scss';
@import 'styles/screenSizes.scss';

.testimonial {
  background-image: url('../../../../images/textures/testimonial-texture-small.png');
  background-size: auto 100%;
  background-color: $tertiary-300;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 84px 0 60px 0;

  @include large-desktop {
    background-image: url('../../../../images/textures/testimonial-texture-large.png');
  }

  .quote {
    font-size: 16px;
    color: $gray-700;
    font-weight: 300;

    b {
      color: $blue-700;
      font-weight: 500;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50px;

    .user-names {
      font-size: 14px;
      text-align: left;
      margin-left: 20px;

      .owner-name {
        font-weight: bold;
      }
    }
  }
}
