@import '../../styles/screenSizes.scss';

.onboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;

  .head {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;

    h6 {
      @include small-mobile {
        width: 80%;
      }
    }
  }
} 
